body {
  font-family: Arial;
  background: #e0c097;
  color: white;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.item img {
  width: 70px;
  border-radius: 50%;
}

/* DETAIL */
.detail {
  display: none;
  background: white;
  color: black;
  width: 80%;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
}

.detail img {
  width: 200px;
  margin-bottom: 15px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul li {
  display: inline;
  list-style: none;
  margin: 10px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
nav ul li a:hover {
  color: #f7f5f4;
}
.container2 {
  background-color: rgb(224, 192, 151);
  padding-top: 20px;
  padding-bottom: 5px;
}
