body {
  font-family: Arial;
  background: #e0c097;
  color: white;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  align-items: center;

  gap: 15px;
  background: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.item img {
  width: 70px;
  border-radius: 50%;
}
#detailPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
#detailImg {
  width: 200px;
  margin-bottom: 15px;
}
/* DETAIL */
.detail {
  display: none;
  background: white;
  color: black;
  width: 80%;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
}

.detail img {
  width: 200px;
  margin-bottom: 15px;
}
