body {
  font-family: "Poppins", sans-serif;
  background: #f7f1e3;
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  max-width: 700px;
  background: #fffbe6;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.judul {
  text-align: center;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.tab-btn {
  flex: 1;
  margin: 0 5px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: #e0d4b9;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.tab-btn.active {
  background: #d0b888;
  transform: scale(1.1);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.tab-content {
  display: none;
  background: #fff3cd;
  padding: 20px;
  border-radius: 12px;
  animation: fade 0.4s ease;
}

.tab-content.active {
  display: block;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.section img {
  width: 100%;
  height: 330px;
}
.sidebar {
  width: 250px;
  flex-shrink: 0;
  margin-right: 30px;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.sidebar h3 {
  font-size: 0.9em;
  color: #54595d;
  border-bottom: 1px solid #c8ccd1;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
}

.sidebar ul {
  list-style: none;
  font-size: 0.9em;
}

.sidebar li {
  margin-bottom: 5px;
}

.sidebar a {
  text-decoration: none;
  color: #0645ad;
}
.sidebar a:hover {
  text-decoration: underline;
}
.nav-box li {
  list-style: none;
  padding: 0;
}
